@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

body {
  overflow: hidden;
  background-color: #fff6e3;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background: none;
  color: #000;
}

.nav-menu {
  display: flex;
  overflow: auto;
  background-color: #ffde98;
  width: 30vh;
  height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  transition: 450ms;
}

.nav-text {
  display: flex;
  font-weight: 600;
  align-items: center;
  padding: 0px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #151414;
  transition: color 450ms;
  -webkit-transition: 450ms;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #ffe8b7;
  transition: 450ms;
  border-radius: 80px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.299));
}

.nav-text a.active {
  background-color: #ffe8b7;
  border-radius: 80px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.299));
}

.nav-menu-items {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.nav-menu-items img {
  justify-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-bottom: 20px;
  width: 50%;
}

span {
  margin-left: 25px;
}

.home,
.product {
  width: 90%;
  margin-left: auto;
  align-items: left;
  justify-content: left;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #fff6e3;
  color: #000;
  padding: 60px 20px 60px 150px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #ffde98;
  border-radius: 600px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  height: 8px;
  background-color: #f7c861;
  border-radius: 600px;
}

.table-container {
  
  overflow: hidden;
  overflow-y: scroll;
  height: 70vh;
  width: 100%;
}

table {
  
  width: fit-content;
  padding: 20px 80px 0px 0px;
  font-size: 15px;
}

tbody {
  border-spacing: 0px;
  font-weight: 400;
}

th{
  background-color: #fff6e3;
  position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100vh;
    padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td {
  width: 100vh;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}

.loading-animation {
  border: 8px solid #ffebbf;
  border-top: 8px solid #ffde98;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  display: block;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
