@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

.home h1 {
  justify-items: left;
  text-align: left;
}


.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
  background: none;
  color: #000;
}

.nav-menu {
  display: flex;
  overflow: auto;
  background-color: #FFDE98;
  width: 30vh;
  height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  transition: 450ms;
}

.nav-text {
  display: flex;
  font-weight: 600;
  align-items: center;
  padding: 0px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #151414;
  transition: color 450ms;
  -webkit-transition: 450ms;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding:  16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #FFE8B7;
  transition: 450ms;
  border-radius: 80px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.299));
}

.nav-text a.active {
  background-color: #FFE8B7;
  border-radius: 80px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.299));
}

.nav-menu-items {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.nav-menu-items img {
  justify-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-bottom: 20px;
  width: 50%;
}

span {
  margin-left: 25px;
}

.home,
.product {
  height: 100vh;
  width: 90%;
  margin-left: auto;
  align-items: left;
  justify-content: left;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #FFF6E3;
  color: #000;
  padding: 60px 20px 60px 150px;
}


.order-list {
  position: sticky;
  padding-top: 100px;
  max-width: 90%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #FFDE98;
  border-radius: 600px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  height: 8px;
  background-color: #f7c861;
  border-radius: 600px;
}

.order-list-text {
  list-style: none;
  padding: 60px 20px 60px 150px;
  display: flex;
  font-weight: 300;
  align-items: center;
  padding: 0px 0px 8px 16px;
  height: 60px;
}

.order-list-toggle {
  list-style: none;
  flex-direction: column;
  display: inline;
}

.order-list-toggle span{
  margin-left: 80px;
}

.order-list-text span {
  margin-left: 80px;
}

.order-list-tablehead{
  size: 0px;
  font-weight: 900;
  list-style: none;
  padding: 60px 20px 60px 150px;
  display: flex;
}